<div id="wrapper">
    <app-menu></app-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-header></app-header>
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Registro de zonas</h1>

                <div class="container">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="image">
                                    <img src="assets/img/zona.png" width="310" height="310" style="float: left;margin-left:55px; float: top; margin-top:35px" alt="">
                                </div>
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <form class="user" [formGroup]="registroForm" (ngSubmit)="registrarZona(registroForm.value)">
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user" id="txtNombre" formControlName="nombre"
                                                           placeholder="Nombre de la Zona">
                                                </div>
                                                <div style=" float: end;margin-block-end: 20px; float: top;margin-top: 20PX; float: left; margin-left: 20px; width: 300px;">
                                                    <label for="">Selecione una ciudad</label>
                                                    <select id="ciudad" formControlName="nombreCiudad">
                                                        <option *ngFor="let ciudad of ciudades" [ngValue]="ciudad.nombre">{{ciudad.nombre}}</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user" id="txtNorte" formControlName="limiteNorte"
                                                           placeholder="Limite norte">
                                                </div>
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user" id="txtSur" formControlName="limiteSur"
                                                           placeholder="Limite sur">
                                                </div>
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user" id="txtOriente" formControlName="limiteOriente"
                                                           placeholder="Limite oriente">
                                                </div>
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user" id="txtOccidente" formControlName="limiteOccidente"
                                                           placeholder="Limite occidente">
                                                </div>

                                            </div>
                                            <div class="alert alert-danger" *ngIf="errorForm">
                                                <p>{{errorMensaje}}</p>
                                            </div>
                                            <button class="btn btn-primary btn-user btn-block">Registrar</button>
                                        </form>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>