<div id="wrapper">
    <app-menu></app-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-header></app-header>
            
            <h1 class="m-0 font-weight-bold text-primary">Gestión de Usuarios</h1>
            <div>
                <a href="http://localhost:8080/reporte/usuarios/download?tipo=PDF" style="width: 170px; height:40px; display: inline-block; float: end; margin-block-end: 30px">
                    <img src="assets/img/pdf.png" width="70" height="70">
                </a>

                <a href="http://localhost:8080/reporte/usuarios/download?tipo=EXCEL" style="width: 170px; height:40px; display: inline-block">
                    <img src="assets/img/excel.png" width="70" height="70">
                </a>
            </div>
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="usuarios" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Login</th>
                                    <th>Dirección</th>
                                    <th>Telefono</th>
                                    <th>Correo</th>
                                    <th>Editar</th>
                                    <th>Borrar</th>
                                    <th>Desbloquear</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let usuario of usuarios">
                                    <th scope="row">{{usuario.id_usuario}}</th>
                                    <th>{{usuario.nombre}}</th>
                                    <th>{{usuario.login}}</th>
                                    <th>{{usuario.direccion}}</th>
                                    <th>{{usuario.telefono}}</th>
                                    <th>{{usuario.correo}}</th>
                                    <th (click)="editarUsuario(usuario.id_usuario)"><img src="assets/img/editar.png" width="30" height="30" style="float: left;margin-left: 15px" alt=""></th>
                                    <th (click)="eliminarUsuario(usuario.id_usuario)"><img src="assets/img/eliminar.png" width="30" height="30" style="float: left;margin-left: 15px" alt=""></th>
                                    <th (click)="desbloquearUsuario(usuario.id_usuario, usuario.correo)"><img src="assets/img/desbloquear.png" width="30" height="30" style="float: left;margin-left: 15px" alt=""></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>

