<div id="wrapper">
    <app-menu></app-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-header></app-header>
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="m-0 font-weight-bold text-primary">Gestión de Ciudades</h1>
        
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Listado de Ciudades</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="ciudades" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Departamento</th>
                                    <th>Borrar</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ciudad of ciudades | paginate:{ itemsPerPage:5, currentPage:pages}">
                                        <th>{{ciudad.idCiudad}}</th>
                                        <th>{{ciudad.nombre}}</th>
                                        <th>{{ciudad.nombreDepartamento}}</th>
                                        <th (click)="eliminarCiudad(ciudad.idCiudad)"><img src="assets/img/eliminar.png" width="30" height="30" style="float: left;margin-left: 15px" alt=""></th>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="pages = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
