<div id="wrapper">
    <app-menu></app-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-header></app-header>
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Registro de materiales</h1>
        
                <div class="container">
        
                  <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                      <!-- Nested Row within Card Body -->
                      <div class="row">
                        <div class="image">
                          <img src="assets/img/material.png" width="310" height="310" style="float: left;margin-left:55px; float: top; margin-top:15px" alt="">
                        </div>
                        <div class="col-lg-7">
                          <div class="p-5">
                            <form class="user">
                              <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                  <input type="text" class="form-control form-control-user" id="txtlogin" required
                                         placeholder="Nombre del material">
                                </div>
                                <div style=" float: end;margin-block-end: 20px; float: top;margin-top: 20px; float: left; margin-left: 20px; width: 300px;">
                                  <select name="Nombre del proveedor">
                                    <option value="value1">Seleccione la orden de trabajo</option>
                                    <option value="value1">Value 1</option>
                                    <option value="value2">Value 2</option>
                                    <option value="value3">Value 3</option>
                                  </select>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                  <input type="number" class="form-control form-control-user" id="txtCantidad" required
                                         placeholder="Cantidad">
                                </div>
                              </div>
                              <a type="button"  onclick="registrarUsuario()" href="#" class="btn btn-primary btn-user btn-block" style="float:top;margin-top: 20px">
                                Registrar
                              </a>
        
                            </form>
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                </div>
        
              </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
