<div id="wrapper">
    <app-menu></app-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-header></app-header>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h2 class="h3 mb-0 text-gray-800">Gráfica de cuadrillas</h2>
                <a href="http://localhost:8080/reporte/graficaCuadrillas?tipo=PDF" target="_blank" style="margin-right:60px" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                        class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
            </div>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h2 class="h3 mb-0 text-gray-800">Ordenes cumplidas por cuadrilla</h2>
                <a href="http://localhost:8080/reporte/ordenesCumplidas?tipo=PDF" target="_blank" style="margin-right:60px" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                        class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
            </div>
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h2 class="h3 mb-0 text-gray-800">Ordenes no cumplidas por cuadrilla</h2>
                <a href="http://localhost:8080/reporte/ordenesNoCumplidas?tipo=PDF" target="_blank" style="margin-right:60px" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                        class="fas fa-download fa-sm text-white-50"></i> Generar Reporte</a>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>