<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="image">
                    <img src="assets/img/login.png" width="240" height="240" style="float: left;margin-left:55px; float: top; margin-top:70px" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Datos de usuario</h1>
                        </div>
                        <form [formGroup]="editarForm" class="user"  #f="ngForm" novalidate>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input maxlength="8" minlength="4" type="text" class="form-control form-control-user"
                                        formControlName="login" placeholder="login">
                                </div>
                             
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="txtNombre" ngModel required
                                        formControlName="nombre" placeholder="Nombre">
                                </div>
                                
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="txtDireccion" ngModel required
                                        formControlName="direccion" placeholder="direccion">
                                </div>
                                
                                <div class="col-sm-6">
                                    <input maxlength="10" type="text" class="form-control form-control-user" id="txtTelefono" ngModel required
                                        formControlName="telefono"  placeholder="telefono">
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="txtEmail" ngModel required
                                    formControlName="correo" placeholder="Correo">
                                    
                            </div>    
                           </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>