
        <h1 style="color:#FFFFFF">Trazabilidad Usuario {{usuario.nombreUsuario}}</h1>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="usuarios" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Evento</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let trazabilidad of trazabilidades">
                                <th scope="row">{{trazabilidad.evento}}</th>
                                <th>{{trazabilidad.fecha2}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
