<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="image">
                    <img src="assets/img/editar.png" width="240" height="240" style="float: left;margin-left:55px; float: top; margin-top:30px" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Datos de orden de trabajo</h1>
                        </div>
                        <form class="user"  #f="ngForm" novalidate>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input maxlength="8" minlength="4" type="text" class="form-control form-control-user"
                                        formControlName="nombre" placeholder="Nombre de la orden">
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <select name="" id="" class="form-control form-control-user">
                                        <option value="">Valor 1</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <select name="" id="" class="form-control form-control-user">
                                        <option value="">Valor 1</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="date" class="form-control form-control-user">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-user btn-block">Guardar</button>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

