<div id="wrapper">
    <app-menu></app-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-header></app-header>
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Gestión de Zonas</h1>

                <div>
                    <a onclick="reporteUsuario()" href="#" class="btn btn-primary btn-user btn-block" style="width: 170px; height:40px; display: inline-block">
                        <i class="fas fa-download fa-sm text-white-50"></i>
                        Exportar PDF
                    </a>

                    <a onclick="reporteUsuarioExcel()" href="#" class="btn btn-primary btn-user btn-block" style="width: 170px; height:40px; display: inline-block">
                        <i class="fas fa-download fa-sm text-white-50"></i>
                        Exportar EXCEL
                    </a>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Listado de Zonas</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="zonas" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Nombre ciudad</th>
                                    <th>Editar</th>
                                    <th>Borrar</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let zona of zonas">
                                        <th>{{zona.idZona}}</th>
                                        <th>{{zona.nombre}}</th>
                                        <th>{{zona.nombreCiudad}}</th>
                                        <th (click)="editarZona(zona.idZona)"><img src="assets/img/editar.png" width="30" height="30" style="float: left;margin-left: 15px" alt=""></th>
                                        <th (click)="eliminarZona(zona.idZona)"><img src="assets/img/eliminar.png" width="30" height="30" style="float: left;margin-left: 15px" alt=""></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
