<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="menu.html">
        <div>
            <img src="assets/img/rayo.png" width="40" height="40" style="float: left;margin-left: 15px">
        </div>
        <div class="sidebar-brand-text mx-3">Electricidad NFS </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="menu.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Nuevos
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Registrar</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Entidades:</h6>
                <a class="collapse-item" href="registroProveedor.html">Proveedores</a>
                <a class="collapse-item" href="registroCuadrilla.html">Cuadrillas</a>
                <a class="collapse-item" href="registroZona.html">Zonas</a>
                <a class="collapse-item" href="registroDepartamento.html">Departamentos</a>
                <a class="collapse-item" href="registroCiudad.html">Ciudades</a>
                <a class="collapse-item" href="registroMaterial.html">Materiales</a>
                <a class="collapse-item" href="registroOrden.html">Ordenes de trabajo</a>
                <a class="collapse-item" href="registroEmpleado.html">Empleados</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Administrar
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Registros</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Entidades:</h6>
                <a class="collapse-item" href="usuarios.html">Proveedores</a>
                <a class="collapse-item" href="cuadrilla.html">Cuadrillas</a>
                <a class="collapse-item" href="zona.html">Zonas</a>
                <a class="collapse-item" href="departamento.html">Departamentos</a>
                <a class="collapse-item" href="ciudad.html">Ciudades</a>
                <a class="collapse-item" href="material.html">Materiales</a>
                <a class="collapse-item" href="orden.html">Ordenes de trabajo</a>
                <a class="collapse-item" href="empleado.html">Empleados</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>